/var/log/consul/*.log {
  daily
  rotate 7
  compress
  delaycompress
  missingok
  notifempty
  create 0640 consul consul
  sharedscripts
  postrotate
    systemctl reload consul > /dev/null 2>&1 || true
  endscript
}
