---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ app_name }}-netpol
  namespace: {{ deployment_namespace | default('default') }}
spec:
  podSelector:
    matchLabels:
      app: {{ app_name }}
  policyTypes:
  - Ingress
  - Egress
  ingress:
  - from:
    - namespaceSelector:
        matchLabels:
          name: {{ deployment_namespace | default('default') }}
    ports:
    - protocol: TCP
      port: {{ app_port | default(8080) }}
  egress:
  - to:
    - namespaceSelector:
        matchLabels:
          name: {{ deployment_namespace | default('default') }}
  - to:
    - namespaceSelector: {}
      podSelector:
        matchLabels:
          k8s-app: kube-dns
    ports:
    - protocol: UDP
      port: 53
